body {
background-color: #C2FFF9;
    background-repeat: no repeat;
    background-size: cover;
    height: 100%;
  }

  .contents {
    background-color: rgb(255, 241, 138);
    padding: 5px 0px 10px 5px;
  }

  .item {
    font-family: Arial, Helvetica, sans-serif;
  }
