body{
  background: #71DFE7;
  font-family: verdana;
  text-transformation: uppercase;
}
h2{
   font-family: courier;
   font-size: 20px;
   text-transformation:uppercase;
}

* {
  padding: 10;
  margin: 10;
}
header{
  height: 200x;
  background-color: #C2FFF9;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%; 
}
nav ul{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  padding: 0px 25px;
}
nav ul li a{
   color: 262728;
   text-decoration: none;
   font-size: 15px;
   font-weight: bold;
}
nav ul li a:hover{
  color: #009DAE;
  transition: .3s;
}

    
