<! DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="FB_IMG_1596899553197.jpg">
    <img src="FB_IMG_1596899553197.jpg" alt="Quarantine" width="600" height="400">
  </a>
  <div class="desc">First Quarantine Lockdown</div>
</div>

<div class="gallery">
  <a target="_blank" href="84416326_2728012633934303_5692330237124149248_n.jpg">
    <img src="84416326_2728012633934303_5692330237124149248_n.jpg" alt="Friends" width="600" height="400">
  </a>
  <div class="desc">Hangout with Friends House</div>
</div>

<div class="gallery">
  <a target="_blank" href="IMG20210623115909.jpg">
    <img src="IMG20210623115909.jpg" alt="Graduation" width="600" height="400">
  </a>
  <div class="desc">Grade 10 Graduation Day</div>
</div>

<div class="gallery">
  <a target="_blank" href="FB_IMG_1600748489971.jpg">
    <img src="FB_IMG_1600748489971.jpg" alt="Father" width="600" height="400">
  </a>
  <div class="desc">Picture with my Father</div>
</div>

<div class="gallery">
  <a target="_blank" href="Screenshot_2021-03-12-18-48-21-18.jpg">
    <img src="Screenshot_2021-03-12-18-48-21-18.jpg" alt="Mother" width="600" height="400">
  </a>
  <div class="desc">Fun Moment with my Mother</div>
</div>

<div class="gallery">
  <a target="_blank"IMG20211102163417.jpg">
    <img src="IMG20211102163417.jpg" alt="Sports" width="600" height="400">
  </a>
  <div class="desc">My Sports is Badminton</div>
</div> 

<div class="gallery">
  <a target="_blank"IMG_20220112_123529.jpg">
    <img src="IMG_20220112_123529.jpg" alt="Picnic" width="600" height="400">
  </a>
  <div class="desc">Picnic with Friends</div>
</div> 

<div class="gallery">
  <a target="_blank"Snapchat-101452662.jpg">
    <img src="Snapchat-101452662.jpg" alt="Class" width="600" height="400">
  </a>
  <div class="desc">Online Class</div>
</div> 

<div class="gallery">
  <a target="_blank"IMG_20201224_215829.jpg">
    <img src="IMG_20201224_215829.jpg" alt="Christmas" width="600" height="400">
  </a>
  <div class="desc">Christmas Day with my Family</div>
</div> 

<div class="gallery">
  <a target="_blank"IMG20211225092828.jpg">
    <img src="IMG20211225092828.jpg" alt="Bonding" width="600" height="400">
  </a>
  <div class="desc">Bonding with my Family and Cousins</div>
</div> 

<div class="gallery">
  <a target="_blank"IMG_20220112_123556.jpg">
    <img src="IMG_20220112_123556.jpg" alt="Cousin" width="600" height="400">
  </a>
  <div class="desc">My Favorite Cousin</div>
</div> 

</body>
</html>
