.container {
  display: flex;
  flex-wrap: no wrap;
  flex-direction: row wrap;
  justify-content: center;
}
 
 * {
   box-sizing: border-box;
   padding: 10px;
}

.item {
  border: 1px solid;
  padding: 15px;
}
