<!DOCTYPE html>
<html>
<head>
  <title>Myself</title>
  <style type="text/css">
  <body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #D9D7F1 }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>
</head>
</body>
</html>
